---
title: Wellness
layout: default
---

<section id="feasting">
  <div class="hero-image">
    <div class="centred-content">
      <h4>{{ page.title }}</h4>
      <p>{{ page.["Hero Description"] }}</p>
    </div>
    <img src="/assets/images/wellness.jpg">
  </div>
</section>

<section id="feastings" class="ripped ripped-cream after-ripped-cream">
  <section id="spa-days" class="plan facilities-wrapper flex two-col">
    <div class="container flex">
      <div class="left">
        <h4>{{ page.["Spa Days Title"] }}</h4>
        <p>{{ page.["Spa Days Description"] | markdownify }}</p>
        <!--<a href="/book-now/#spa" class="btn">Book Now</a>-->
      </div>
      <div class="right">
        <!-- Spa Days -->
        <div class="owl-carousel owl-theme">
          {% for image in page.["Spa Days Images"] %}
          <div class="item frame">
            <img class="owl-img" src="{{ image }}" alt="Spa Days">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="wellness-retreats" class="plan facilities-wrapper flex two-col white ripped">
    <div class="container flex">
      <div class="left">
        <h4>{{ page.["Retreats Title"] }}</h4>
        <p>{{ page.["Retreats Description"] | markdownify }}</p>

      </div>
      <div class="right">
        <div class="owl-carousel owl-theme">
          {% for image in page.["Retreats Images"] %}
          <div class="item frame">
            <img class="owl-img" src="{{ image }}" alt="Retreats">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="yoga" class="plan facilities-wrapper flex two-col ripped-cream">
    <div class="container flex">
      <div class="left">
        <h4>{{ page.["Yoga Title"] }}</h4>
        <p>{{ page.["YOGA Description"] | markdownify }}</p>
        <!--<a href="/book-now/#spa" class="btn">Book Now</a>-->
      </div>
      <div class="right">
        <!-- Yoga -->
        <div class="owl-carousel owl-theme">
          {% for image in page.["YOGA Images"] %}
          <div class="item frame">
            <img class="owl-img" src="{{ image }}" alt="Yoga">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
 {% for item in page %}
  {% assign field_name = item[0] %}
  {% assign field_value = item[1] %}

  {% if field_name contains " Title" and field_name != "Spa Days Title" and field_name != "Retreats Title" and field_name != "Yoga Title" %}

    {% assign section_name = field_name | replace: " Title", "" %}
    {% assign description_field = section_name | append: " Description" %}
    {% assign images_field = section_name | append: " Images" %}
  {% assign style_field = section_name | append: " Style" %}
{% assign section_style = page[style_field] | default: "cream" %}

{% if section_style == "white" %}
  {% assign section_class = "plan facilities-wrapper flex two-col white ripped" %}
{% else %}
  {% assign section_class = "plan facilities-wrapper flex two-col ripped-cream" %}
{% endif %}

    <section class="{{ section_class }}">
      <div class="container flex">

        <div class="left">
          <h4>{{ field_value }}</h4>

          {% if page[description_field] %}
            {{ page[description_field] | markdownify }}
          {% endif %}
        </div>

        <div class="right">
          {% if page[images_field] %}
            <div class="owl-carousel owl-theme">

              {% for image in page[images_field] %}
                <div class="item frame">
                  <img class="owl-img" src="{{ image }}" alt="{{ field_value }}">
                </div>
              {% endfor %}

            </div>
          {% endif %}
        </div>

      </div>
    </section>

  {% endif %}
{% endfor %}
</section>
